
//Colors

$bgColor: #fff;
$headerHeadingColor: #2C2F3C;
$cardHeadingColor: #fff;
$btnColor: #699900;
$whiteColor: #C0C3CE;
$underlineColor: #16A1C7;
$colorlogo: #C0C3CE;
$footerColor: #21232E;

//Fonts

$headingFont: 'Source Sans Pro', sans-serif;
$bodyFont: 'Hind', sans-serif;

//Images

$bgImage: url("../img/m-h-day.jpg");
$gradient: linear-gradient(45deg, #679708, #2E5CD7);


